@import "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}


body,main{
   align-items: center;
   background-color: hsl(212, 45%, 89%);
   display: flex;
   height: 100vh;
   width: 100vw;
   justify-content: center;
 
}

.qr-code{
   align-items: center;
   justify-content: space-between;
   background-color: white;
   border-radius: 10px;
   box-shadow: 2px 2px 23px rgba(0, 0, 0, 0.288);
   display: flex;
   flex-direction: column;
   font-size: 15px;
   width: 20%;
   height:70%;
  
}
label{
   color: hsl(218, 44%, 22%);
   font-family: 'Outfit', sans-serif;
   font-size: 1.5em;
   font-weight: 700;

  
}

.img-container{
   border-top-left-radius:10px ;
   border-top-right-radius: 10px;
   align-items: center;
   display: flex;
   justify-content: center;
   width: 100%;
   height: 50%;
   background-color: #2B7DFA;
}
img{
   width: 50% ;
   background-color: #0f5;
}
form{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 50%;
   padding: 1em;
   padding-top: 3em;
   gap: 10px;
}
.bt-container{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center
}
button{
   font-family: 'Outfit', sans-serif;
   margin-top: .5em;
   border-radius: 20px;
   border: none;
   font-size: 1.2em;
   color: #fff;
   background-color: #2B7DFA;
   width: 80%;
   padding:10px;
}
input{
   border-radius: 10px;
   border: 1px solid #2B7DFA;
   padding: 10px;
   font-size: 1.2em;
   font-family: 'Outfit', sans-serif;
   font-weight: 700;
   color: #2B7DFA;
   outline: none;
}
p{
   display: none;
   align-items: center;
   font-family: 'Outfit', sans-serif;
   color: #0f5;
}
span{
   padding-right: 2px;
}
@media screen and (max-width:1150px){
   .qr-code{
      width: 30%;
   }
}
@media screen and (max-width:800px){
   .qr-code{
      width: 50%;
   }
}